<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Exemplo Java com Spring MVC Web e Thymeleaf</title>
    <link type="text/css" rel="stylesheet" th:href="@{/static/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
    <div th:replace="fragmentos/cabecalho :: cabecalho">
        <span>carrega fragmento do cabecalho</span>
    </div>

    <div class="container" th:include="${conteudo} :: corpo">
        <span>o conteudo sera inserido aqui!</span>
    </div>

    <footer class="footer" th:insert="fragmentos/rodape">
        <span>O rodapé será inserido aqui!</span>
    </footer>
</body>
</html>