<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div class="container" th:fragment="corpo">
        <h1 th:text="#{titulo.usuario.cadastro}"></h1>
        <hr>
        <div>
            <form th:action="@{/usuario/salvar}"  th:object="${usuario}" method="post">
                <input type="hidden" th:field="*{id}"/>
                <div class="form-group">
                    <label th:for="nome">Nome: </label>
                    <input type="text" class="form-control" id="nome" th:field="*{nome}"/>
                    <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="label label-danger"></span>
                </div>
                <div class="form-group">
                    <label th:for="sexo">Sexo: </label>
                    <select th:field="*{sexo}" class="form-control" id="sexo" >
                        <option th:each="sexo : ${sexos}" th:value="${sexo.desc}" th:text="${sexo.desc}">F</option>
                    </select>
                </div>
               <div class="form-group">
                    <label th:for="dataNascimento">Data Nasc.: </label>
                    <input type="date" class="form-control" id="dataNascimento" th:field="*{dataNascimento}"/>
                    <span th:if="${#fields.hasErrors('dataNascimento')}" th:errors="*{dataNascimento}" class="label label-danger"></span>
                </div>
                <div class="form-group">
                    <label th:for="email">E-mail: </label>
                    <input type="email" class="form-control" id="email" th:field="*{email}"/>
                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="label label-danger"></span>
                </div>
                <br/>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</html>